<p>Вітаю!</p>

<p>
    Ви успішно зареєструвались на курс «{{ eventRegistration.event.name }}»,
    який стартує {{ eventRegistration.event.date|date('d-m-Y') }}.
</p>

<p>
    Ознайомтесь детально з програмою курсу та сплатіть рахунок.
</p>

<p>
    <i>
        Увага! При оплаті рахунку від фізичної особи,
        обов’язково у призначені платежу зазначайте своє ПІБ.
    </i>
</p>

<hr>

<p>Особлива пропозиція!!!</p>

<p>У разі сплати рахунку протягом 3-х банківських днів, Ви отримаєте у подарунок: он-лайн вебінар «Кадровий облік на підприємстві»</p>

<p>і це ще не все….</p>

<p>
    Усі учасники курсу отримають у подарунок он-лайн урок «Зарплата без
    помилок» та збірник типових кадрових наказів у PDF форматі.
</p>

<p>
    З нетерпінням чекаю Вас на курсі!
</p>

<p>
    <strong>ACNN_SCHOOL</strong><br>
    Наталія Ніколенко,<br>
    Експерт з обліку, сертифікат САP, ACCADipIFRbr <br>
    Контактний телефон +38(067)562-43-28 <br>
    Email: acnn.school@gmail.com <br>
    <a href="https://acnn-school.net">acnn-school.net</a> <br>
    Ви отримали цей лист, тому що зареєструвались на сайті <a href="https://acnn-school.net">acnn-school.net</a>
</p>
