<p>Вітаю, Ви учасник курсу «{{ eventRegistration.event.name }}».</p>
<p>Курс стартує {{ eventRegistration.event.date|date('d-m-Y') }}.</p>

<p>
    За тиждень до початку курсу Ви отримаєте лист з інструкцією по
    організаційним та технічним питанням з посиланням на вебінарну кімнату та
    час проведення заходу.
</p>

<p>
    Нагадую, курс проходить в он-лайн форматі 9 тижнів підряд, та складається з
    відео уроків, які Ви можете переглядати 24/7, он-лайн відео сесії з лектором, які
    будуть проходити щосуботи по 4 години у форматі вебінару, домашнього
    завдання обов’язкового для виконання, закритого чату для спілкування
    учасників та відповідей на запитання.
</p>

<p>
    По закінченню курсу на учасників чекає контрольна робота та сертифікат.
</p>

<p>
    До зустрічі на курсі!
</p>

<p>
    <strong>ACNN_SCHOOL</strong><br>
    Наталія Ніколенко,<br>
    Експерт з обліку, сертифікат САP, ACCADipIFRbr <br>
    Контактний телефон +38(067)562-43-28 <br>
    Email: acnn.school@gmail.com <br>
    <a href="https://acnn-school.net">acnn-school.net</a> <br>
    Ви отримали цей лист, тому що зареєструвались на сайті <a href="https://acnn-school.net">acnn-school.net</a>
</p>
