<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{{ 'base.admin.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/css/sb-admin-2.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% include 'components/admin_sidebar.html.twig' %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'components/admin_topbar.html.twig' %}

            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include 'components/admin_footer.html.twig' %}
    </div>
</div>

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/js/sb-admin-2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                order: [],
                language: {
                    "sProcessing":   "Зачекайте...",
                    "sLengthMenu":   "Показати _MENU_ записів",
                    "sZeroRecords":  "Записи відсутні.",
                    "sInfo":         "Записи з _START_ по _END_ із _TOTAL_ записів",
                    "sInfoEmpty":    "Записи з 0 по 0 із 0 записів",
                    "sInfoFiltered": "(відфільтровано з _MAX_ записів)",
                    "sInfoPostFix":  "",
                    "sSearch":       "Пошук:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst": "Перша",
                        "sPrevious": "Попередня",
                        "sNext": "Наступна",
                        "sLast": "Остання"
                    },
                    "oAria": {
                        "sSortAscending":  ": активувати для сортування стовпців за зростанням",
                        "sSortDescending": ": активувати для сортування стовпців за спаданням"
                    }
                }
            });
        });
    </script>

    <script>
        function loadFileManager() {
            if ($('.control-file-manager').length === 0) {
                return;
            }

            let $input = null;

            $('.control-file-manager').click(function () {
                $input = $(this);
                $('#file-manager-modal').modal();
            });

            $('#file-manager-modal-frame').on('load', function () {
                $('#file-manager-modal-frame').contents().on('click', '.select', function () {
                    $input.val($(this).attr('data-path'));
                    $('#file-manager-modal').modal('hide');
                });
            });
        }

        loadFileManager();
    </script>
{% endblock %}
</body>
</html>
