{% extends 'base.landing.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12 col-lg-6">
                <div class="pt-md-5 pb-md-5 mx-auto text-center" style="max-width: 700px">
                    <h1 class="display-4 font-weight-bold">{{ 'landing.home.title'|trans }}</h1>
                    <p class="lead">{{ 'landing.home.lead'|trans }}</p>
                    <p class="lead font-weight-bold">{{ 'landing.home.meta'|trans }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-muted">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur enim eos, est
                    ex, id illum ipsum non omnis pariatur perspiciatis quis quos repellat sequi similique ut veritatis?
                    Adipisci?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur enim eos, est
                    ex, id illum ipsum non omnis pariatur perspiciatis quis quos repellat sequi similique ut veritatis?
                    Adipisci?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur enim eos, est
                    ex, id illum ipsum non omnis pariatur perspiciatis quis quos repellat sequi similique ut veritatis?
                    Adipisci?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur enim eos, est
                    ex, id illum ipsum non omnis pariatur perspiciatis quis quos repellat sequi similique ut veritatis?
                    Adipisci?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur enim eos, est
                    ex, id illum ipsum non omnis pariatur perspiciatis quis quos repellat sequi similique ut veritatis?
                    Adipisci?</p>
            </div>
        </div>
    </div>
{% endblock %}

