{% extends 'base.landing.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12 col-lg-5">
                <div class="pt-md-5 pb-md-5 mx-auto text-center" style="max-width: 700px">
                    <h1 class="display-4 font-weight-bold">{{ 'landing.home.title'|trans }}</h1>
                    <p class="lead">{{ 'landing.home.lead'|trans }}</p>
                    <p class="lead font-weight-bold">{{ 'landing.home.meta'|trans }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-7 text-muted">
                <p>
                    <strong>ACNN_SCHOOL</strong> – це новий авторський проект, створений задля досягнення Вами
                    поставлених цілей з професійного та особистого розвитку, підвищення вашої цінності як
                    професіонала на ринку праці.
                </p>

                <p>
                    <strong>ACNN_SCHOOL</strong> це он-лайн курси «Податки», «Бухгалтерський облік за П(С)БО»,
                    «Фінансовий облік за МСФО», «Особиста ефективність та професійне зростання»
                </p>

                <p>
                    <strong>ACNN_SCHOOL</strong> це максимальний результат за мінімальний час завдяки методиці
                    перевіреній на власному досвіді, повному зануренню у вивчення матеріалу та засвоєння його
                    на практиці. І тільки у нас ви отримаєте крім професійних знань покрокову стратегію
                    досягнень ваших цілей в роботі і житті.
                </p>

                <p>
                    <strong>ACNN_SCHOOL</strong> засновано у 2020 році з метою підвищення цінності професії «бухгалтер»,
                    шляхом навчання спеціалістів з обліку до рівня професійного бухгалтера. Оскільки стрімкий
                    розвиток інформаційно-інтелектуальних технологій надає нові можливості для бізнесу , що
                    в свою чергу формує не аби які вимоги до сучасного бухгалтера. Перед ним постають все
                    більш складні завдання. Сьогодні йому потрібно знаходити найоптимальніші варіанти та
                    нестандартні способи вирішення завдань. Він має впевнено користуватись інструментарієм
                    бухгалтерського обліку. Володіти методами верифікації. Мати творчій підхід та постійно
                    підвищувати свій рівень обізнаності.
                </p>

                <p>
                    <strong>ACNN_SCHOOL</strong> це Ваш вибір, якщо Ви прагнете бути лідером у своїй справі, мати власну
                    професійну думку, успішно будувати кар’єру, використовувати тайм-менеджмент для
                    ефективного розподілу часу на роботу та особисте життя, впевнено крокувати до поставленої
                    мети.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

