{% extends 'base.landing.html.twig' %}

{% block body %}
    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="container">
            <h1 class="display-5 text-center">{{ 'landing.contact.title'|trans }}</h1>
            <div class="bg-white px-5 pt-5 pb-5 rounded shadow-sm bg-light">
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}

