{% extends 'base.landing.html.twig' %}

{% block body %}
    {% include 'components/landing_header.html.twig' %}

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="pt-md-5 pb-md-5 mx-auto text-center" style="max-width: 700px">
            <h1 class="display-4 font-weight-bold">{{ 'landing.home.title'|trans }}</h1>
            <p class="lead">{{ 'landing.home.lead'|trans }}</p>
            <p class="lead font-weight-bold">{{ 'landing.home.meta'|trans }}</p>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="pt-2">
                        <p>
                            <span class="lead font-weight-normal">Бізнес-тренер Наталія Ніколенко</span>
                            <br>
                            <span class="text-muted">Сертифікований бухгалтер – практик, САР</span>
                        </p>

                        <dl class="ml-2">
                            <dd>Диплом ACCA DipIFR</dd>
                            <dd>20 років практичної бухгалтерії</dd>
                            <dd>10+ сфер бізнесу</dd>
                            <dd>Власник он-лайн школи професійного розвитку та особистої ефективності</dd>
                            <dd>
                                Автор навчальних курсів «Податки», «Фінансовий облік за МСФО»,
                                «Управлінський облік для бухгалтера»,
                                Автор он-лайн програми «Особиста ефективність та професійне зростання»
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-none d-inline text-center">
                    <img style="max-width: 300px" class="rounded-circle img-fluid img-thumbnail" src="https://placeimg.com/640/640/nature?t=1594665547688" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <img style="max-width: 330px" class="img-fluid" src="https://placeimg.com/500/500/tech" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <p class="lead font-weight-bold">Вам будуть корисні наші тренінги і курси, якщо ви бажаєте:</p>
                    <ul>
                        <li>бути висококваліфікованим спеціалістом</li>
                        <li>мати власну професійну думку</li>
                        <li>стати лідером у своїй справі</li>
                        <li>успішно будувати кар’єру</li>
                        <li>використовувати тайм-менеджмент для ефективного розподілу часу на роботу та особисте життя</li>
                        <li>навчитися планувати та вийти з хаосу незакінчених справ</li>
                    </ul>

                    <p>
                        <strong>Моя місія</strong> – підвищення цінності професії «бухгалтер», шляхом навчання
                        спеціалістів з обліку до рівня професійного бухгалтера, який бачить за цифрами
                        реальний світ економіки
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="lead font-weight-bold">Як проходять наші тренінги?</p>

                    <p>В вашому особистому кабінеті ви переглядаєте відео уроки та отримуєте домашні завдання</p>
                    <p>Щотижня проходять он-лайн відео сесії з лектором, які присвячуються розбору практичних завдань</p>
                    <p>Закритий чат для спілкування учасників та відповідей на запитання</p>
                    <p>По закінченню тренінгу обов’язкова контрольна робота</p>
                    <p>Сертифікат чекає на кандидатів, які успішно виконали контрольну роботу</p>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img style="max-width: 330px" class="img-fluid" src="https://placeimg.com/500/500/arch" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="container text-center">
            <p class="lead display-3 mb-4">Найближчі події</p>
            <div class="card-deck">
                <div class="card position-relative pb-5">
                    <div class="card-header d-flex align-items-center" style="height: 140px">
                        <h4 class="my-0 font-weight-normal">Вебінар «Особиста ефективність та професійне зростання. 10 кроків»</h4>
                    </div>
                    <div class="card-body">
                        <p class="display-3 lead font-weight-bold">₴0</p>
                        <p>
                            <span class="text-muted">22 серпня 2020 року, 13.00 і 18.00</span>

                            <br><br>

                            Вебінар буде корисний бухгалтерам, які прагнуть вийти на новий рівень у
                            професіональній сфері життя, навчитись планувати та досягати поставленої
                            цілі. Ми розглянемо 10 кроків, які потрібно зробити для того щоб дійти з
                            крапки «А» де ви зараз до крапки «Б» де ви хочете бути.
                        </p>
                        <button
                                style="width: calc(100% - 40px); bottom: 20px"
                                type="button"
                                data-toggle="modal"
                                data-target="#card-1"
                                class="btn btn-block btn-primary position-absolute">
                            Дізнатись більш детально
                        </button>
                    </div>

                    <div class="modal fade" id="card-1" tabindex="-1" role="dialog" aria-labelledby="card-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Вебінар «Особиста ефективність та професійне зростання. 10 кроків»
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Відбудеться 22 серпня 2020 року,
                                        <br><br>
                                        Кожен може вибрати більш зручний для себе час 13.00 або 18.00
                                        <br><br>
                                        Участь безкоштовна
                                        <br><br>
                                        Ви дізнаєтесь про 10 кроків, які потрібно зробити для того щоб дійти з крапки
                                        «А» де ви зараз до крапки «Б» де ви хочете бути. Отримаєте дієві інструменти,
                                        застосувавши які, ви зможете самостійно крокувати вперед до своїх цілей.
                                    </p>

                                    <div class="border-top mb-2"></div>

                                    <form action="" style="max-width: 500px" class="m-auto">
                                        <p class="lead">Зареєструватись</p>

                                        <div class="form-group">
                                            <label for="card-1-name" class="form-label">Ім’я</label>
                                            <input type="text" id="card-1-name" name="card-1-name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-1-email" class="form-label">Email</label>
                                            <input type="email" id="card-1-email" name="card-1-email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-1-phone" class="form-label">Телефон</label>
                                            <input type="text" id="card-1-phone" name="card-1-phone" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Зареєструватись</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card position-relative pb-5">
                    <div class="card-header d-flex align-items-center" style="height: 140px">
                        <h4 class="my-0 font-weight-normal">Тренінг з курсу «Фінансовий облік за МСФО»</h4>
                    </div>
                    <div class="card-body">
                        <p class="display-3 lead font-weight-bold">₴1000</p>
                        <p>
                            <span class="text-muted">12 вересня 2020 року</span>

                            <br><br>

                            Тренінг для фахівців, які планують успішно скласти іспит з дисципліни
                            «Фінансовий облік – 1» , бухгалтерів які хочуть познайомитись з МСФО, або
                            розширити свої знання у сфері бухгалтерського обліку за міжнародними
                            стандартами фінансової звітності.
                        </p>
                        <button
                                style="width: calc(100% - 40px); bottom: 20px"
                                type="button"
                                data-toggle="modal"
                                data-target="#card-2"
                                class="btn btn-block btn-primary position-absolute">
                            Дізнатись більш детально
                        </button>
                    </div>

                    <div class="modal fade" id="card-2" tabindex="-1" role="dialog" aria-labelledby="card-2" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Тренінг з курсу «Фінансовий облік за МСФО»
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Старт 12 вересня 2020 року

                                        Формат проведення: дистанційне з доступом до навчання 24/7

                                        Обсяг курсу 64 години

                                        Фокус на мультиформатне навчання яке поєднує відео уроки з теоретичним
                                        матеріалом, домашнє завдання, перевірку якого здійснює особисто лектор, он-
                                        лайн відео сесії з закріпленням теоретичного матеріалу та вирішенням
                                        практичних задач. Контрольна робота по закінченню тренінгу є обов’язковою

                                        для отримання сертифікату.
                                        На вас чекає:
                                        10 он-лайн відео сесій

                                        Щосуботи з 12.09.2020 по 14.11.2020

                                        тривалість 4 години
                                        час 10.00 – 14.00

                                        4 он-лайн відео сесії для відповіді на запитання по 1 годині

                                        40 відео уроків по 30 хвилин
                                        закритий чат з відповідями на запитання

                                        контрольна робота

                                        сертифікат про успішну участь у тренінгу з курсу
                                    </p>

                                    <div class="border-top mb-2"></div>

                                    <form action="" style="max-width: 500px" class="m-auto">
                                        <p class="lead">Зареєструватись</p>

                                        <div class="form-group">
                                            <label for="card-2-name" class="form-label">Ім’я</label>
                                            <input type="text" id="card-2-name" name="card-2-name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-2-email" class="form-label">Email</label>
                                            <input type="email" id="card-2-email" name="card-2-email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-2-phone" class="form-label">Телефон</label>
                                            <input type="text" id="card-2-phone" name="card-2-phone" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Зареєструватись</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card position-relative pb-5">
                    <div class="card-header d-flex align-items-center" style="height: 140px">
                        <h4 class="my-0 font-weight-normal">Тренінг з курсу «Податки в Україні»</h4>
                    </div>
                    <div class="card-body">
                        <p class="display-3 lead font-weight-bold">₴5000</p>
                        <p>
                            <span class="text-muted">20 вересня 2020 року</span>

                            <br><br>

                            Тренінг ідеально підійде фахівцям, які планують успішно скласти іспит з
                            дисципліни «Податки», бухгалтерам які бажають підвищити рівень знань у
                            податковому обліку до професійного, а також фахівцям фінансової сфери,
                            підприємцям те керівникам які прагнуть осягнути складний світ податків та
                            податкової системи України.
                        </p>
                        <button
                                style="width: calc(100% - 40px); bottom: 20px"
                                type="button"
                                data-toggle="modal"
                                data-target="#card-3"
                                class="btn btn-block btn-primary position-absolute">
                            Дізнатись більш детально
                        </button>
                    </div>

                    <div class="modal fade" id="card-3" tabindex="-1" role="dialog" aria-labelledby="card-3" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Тренінг з курсу «Податки в Україні»
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Старт 20 вересня 2020 року

                                        Формат проведення: дистанційне з доступом до навчання 24/7

                                        Обсяг курсу 64 години

                                        Фокус на мультиформатне навчання яке поєднує відео уроки з теоретичним
                                        матеріалом, домашнє завдання, перевірку якого здійснює особисто лектор, он-
                                        лайн відео сесії з закріпленням теоретичного матеріалу та вирішенням
                                        практичних задач. Контрольна робота по закінченню тренінгу є обов’язковою

                                        для отримання сертифікату.
                                        На вас чекає:
                                        10 он-лайн відео сесій
                                        Щонеділі з 13.09.2020 по 15.11.2020

                                        тривалість 4 години
                                        час 10.00 – 14.00

                                        4 он-лайн відео сесії для відповіді на запитання по 1 годині

                                        40 відео уроків по 30 хвилин
                                        закритий чат з відповідями на запитання

                                        контрольна робота

                                        сертифікат про успішну участь у тренінгу з курсу
                                    </p>

                                    <div class="border-top mb-2"></div>

                                    <form action="" style="max-width: 500px" class="m-auto">
                                        <p class="lead">Зареєструватись</p>

                                        <div class="form-group">
                                            <label for="card-3-name" class="form-label">Ім’я</label>
                                            <input type="text" id="card-3-name" name="card-3-name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-3-email" class="form-label">Email</label>
                                            <input type="email" id="card-3-email" name="card-3-email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-3-phone" class="form-label">Телефон</label>
                                            <input type="text" id="card-3-phone" name="card-3-phone" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Зареєструватись</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-3 pt-md-5 pb-md-5 bg-light">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 text-center">Зв'язатися з нами</h1>
                <form>
                    <div class="form-group">
                        <label for="contact-name">Ім’я</label>
                        <input type="text" class="form-control" id="contact-name">
                    </div>
                    <div class="form-group">
                        <label for="contact-email">Email</label>
                        <input type="email" class="form-control" id="contact-email">
                    </div>
                    <div class="form-group">
                        <label for="contact-question">Питання</label>
                        <textarea class="form-control" id="contact-question"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Надіслати</button>
                </form>
            </div>
        </div>
    </section>

    {% include 'components/landing_footer.html.twig' %}
{% endblock %}