{% extends 'base.landing.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>ПРАВИЛА КОРИСТУВАННЯ САЙТОМ</h1>

        <p>
            Вас вітає сайт ACNN_SCHOOL, який доступний за
            адресою <a href="{{ absolute_url(path('landing_home')) }}">{{ absolute_url(path('landing_home')) }}</a>  (надалі – Сайт).
            Будь ласка, уважно прочитайте дані Правила користування сайтом
            (надалі – Правила), які регулюють використання цього Сайту.
        </p>
         
        <h2>1.ДОСТУП ДО САЙТУ</h2>

        <p>
            Доступ до Сайту і користуватися Сайтом можуть отримати особи,
            що досягли повноліття (старше 18 років) і мають дійсну адресу
            електронної пошти. Якщо Ви не досягли повноліття, для
            користування сайтом необхідно отримати попередній дозвіл
            батьків.
        </p>

        <p>
            Вам може бути запропоновано заповнити поля у формі, позначені
            зірочкою. В такому випадку необхідно заповнити поля перед
            використанням Сайту. Реєстраційні форми з недостовірними або
            неповними даними прийматися не будуть.
        </p>

        <p>
            У разі недотримання правил, зазначених у цих умовах
            використання, ми залишаємо за собою право призупиняти Ваш
            доступ до Сайту. В такому випадку ми повідомимо Вас про це.
            Незважаючи на те, що ми намагаємося робити Сайт доступним в
            будь-який час, ми не можемо гарантувати доступ за будь-яких
            обставин. Зокрема, через технічне обслуговування, оновлення або
            інші причини, які знаходяться поза нашим контролем, доступ до
            Сайту може бути тимчасово призупинений.
        </p>
         
        <h2>2. ІНТЕЛЕКТУАЛЬНА ВЛАСНІСТЬ</h2>

        <p>
            Сайт і його складові елементи (зображення, текст, відео, тощо) є
            власністю ACNN_SCHOOL. Будь-яке використання, копіювання
            або відтворення Сайту (повністю або частково) або його складових
            елементів на будь-яких медіа-ресурсах для інших цілей не
            дозволяється.
        </p>

        <h2>3. ВИКОРИСТАННЯ САЙТУ</h2>

        <p>
            У першу чергу, ми хотіли б нагадати Вам, що використання Сайту
            означає, що Ви маєте в наявності необхідне обладнання для
            користування Інтернетом.
        </p>

        <p>
            Крім того, ми хотіли б нагадати Вам, що Інтернет не гарантує
            безпеку, доступність та цілісність передачі даних, і, відповідно, ми
            не несемо відповідальність за виникнення помилок, упущень,
            видалень, затримок, несправностей (включаючи, але не
            обмежуючись, дією вірусів), несправностей ліній зв&#39;язку,
            обладнання і програмного забезпечення, яке не перебуває під
            нашим контролем або в разі несанкціонованого використання чи
            можливого пошкодження матеріалів, опублікованих на цьому
            Сайті.
        </p>

        <p>
            Ми підтримуємо толерантність та повагу до прав інших людей. Це
            стало причиною того, що даний сайт не може бути використаний як
            засіб для расистських, тих, що пропагують насильство,
            ксенофобію, шкідливих, непристойних або незаконних пропозицій.
        </p>

        <h2>4. ІНФОРМАЦІЯ, ЩО МІСТИТЬСЯ НА САЙТІ</h2>

        <p>
            Ми намагаємося надавати Вам точну і актуальну інформацію. Тим
            не менш, передача даних та інформації в Інтернеті не підлягають
            абсолютній технічній надійності, і ми не можемо гарантувати
            точність всіх даних, які розміщенні на Сайті.
        </p>

        <p>
            Крім того, ми хотіли б підкреслити, що неточності та упущення
            можуть з&#39;явитися в інформації, розміщеній на Сайті, зокрема, через
            втручання третіх осіб. Будь ласка, повідомте нас про будь-які
            помилки або упущення на наступну адресу електронної пошти:
            {{ app_email }}.
        </p>

        <h2>5.КУКИ</h2>

        <p>
            Куки – це невеликі файли, які залишаються на Вашому комп&#39;ютері
            під час навігації по Сайту (наприклад, відвідані сторінки, дата і
            час відвідування і т.д.), які можуть бути прочитані під час
            повторного візиту на даний Сайт.
        </p>

        <p>
            Щоб скористатися всіма функціональними можливостями Сайту,
            краще налаштувати браузер на прийом Куків. Ми хотіли б
            підкреслити, що Куки не дозволяють ідентифікувати Вас і період
            збереження інформації, записаної на комп&#39;ютері, становить 6
            місяців.
        </p>

        <h2>6. ЗМІНИ САЙТУ ТА ЗМІНА УМОВ КОРИСТУВАННЯ</h2>

        <p>
            Ми залишаємо за собою право модерувати контент та інформацію,
            яка міститься на Сайті, а також вносити зміни до Правил з метою
            дотримання їхньої відповідності новому законодавству України
            і/або поліпшення Сайту. Будь-які зміни та/або поправки будуть
            включені до цих Правил.
        </p>
    </div>
{% endblock %}

