{% extends 'base.landing.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 mb-4">Terms and Conditions</h1>
        <ol class="mb-5">
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate explicabo fuga impedit ipsa maxime quo rerum! Debitis, distinctio dolorem enim fuga id incidunt maxime mollitia nesciunt optio saepe sed?
            </li>
        </ol>
    </div>
{% endblock %}

